* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 1rem;
}

.title-container {
    text-align: center;
    width: 510px;
    margin-top: 1rem;
}

.letter-purple {
    color: #800080;
}


.app-container {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.tile-row {
    margin-bottom: 1rem;
    justify-content: center;
    display:flex;
    box-sizing: border-box;
}

.tile-column {
    background-color: #f4f3f1;
    color: #252525;
    height: 40px;
    width: 48px;
    border-radius: 0.25rem;
    margin-right: 0.5rem;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    display:flex;
}

.typing {
    border: 3px solid #252525;
}

.disabled {
    border: 1px solid #252525;
}

.right {
    background-color: #3aa394;
    color: #f4f3f1;
}

.wrong {
    background-color: #312a2c;
    color: #f4f3f1;
}

.displaced {
    background-color: #d3ad69;
    color: #f4f3f1;
}

i {
    opacity: 0;
    font-size: 28px;
    color: #1F1E1E;
    will-change: transform;
    transform: scale(.1);
    transition: all .3s ease;
}

.btn-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    width: 240px;
    height: 72px;
    background-color: #EEEEED;
    border-radius: 80px;
    padding: 0 18px;
    will-change: transform;
    transition: all .2s ease-in-out;
}

.btn-wrap:hover {
    transform: scale(1.1);
}

p {
    position: absolute;
    z-index: 99;
    width: 240px;
    height: 72px;
    border-radius: 80px;
    font-size: 20px;
    text-align: center;
    line-height: 70px;
    letter-spacing: 2px;
    color: #EEEEED;
    background-color: #1F1E1E;
    padding: 0 18px;
    transition: all 1.2s ease;
}

.container2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 240px;
    height: 64px;
    border-radius: 80px;
}

.container2 i:nth-of-type(1){
    transition-delay: 1.1s;
}

.container2 i:nth-of-type(2){
    transition-delay: .9s;
}


.container2 i:nth-of-type(3){
    transition-delay: .7s;
}


.container2 i:nth-of-type(4){
    transition-delay: .4s;
}

.btn-wrap:hover p {
    transition-delay: .25s;
    transform: translateX(-280px)
}

.btn-wrap:hover i {
    opacity: 1;
    transform: scale(1);
}